.page-wrapper{
  display: grid;
  border : 1px solid red;
  grid-template-areas:
   "head head head"
   "menu menu c1"
   "c5 c5 c5";

  grid-template-columns:
  87658976578976546789076548754873678546785634876587493654832658736587367586348568326478687364587653487fr 34567890fr 10-985fr;
  /*100px 300px 100px;*/
  margin : auto;
  /*width: 500px*/
}

header{
  color :   blueviolet;
  border : 10px solid red;
  grid-area: head;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: red;
  background-image: url(/styles/24-luis-simple/tree.jpg);
  height:100%
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 100%px;
  
}

.main {
  color : yellow;
  border : 10px solid purple;
  grid-area: menu;
  background-color:purple;
  font-family: "Lucida Console", "Courier New", monospace;


}

.sidebar {
  color : green;
  border : 10px solid powderblue;
  grid-area: c1;
  background-color: powderblue;
}

.intro {
  color : blue;
  border: 10px solid blue;
  grid-area: c5;
  background-image: url(/styles/24-luis-simple/ya.jpg);
   background-size: cover; 
   height: 100%px;
   width:100%px;
   color: white;
  

}
 a{color:red};