:root {
	--green-grass: #4ab54a;
	--jordy-blue: #8DBBF1ff;
}

ul {
	text-decoration: none;
}

#zen-intro h3, #zen-supporting h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
	border-radius: 30%;
	text-align: center;
	height: 75px;
	width: 100%;
	margin-bottom: 5%;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
	border-radius: 35%;
	text-align: center;
	height: 15%;
	width: 100%;
	margin-bottom: 5%;
}

#css-zen-garden {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: linear-gradient(to bottom, var(--jordy-blue) 80%, var(--green-grass) 20%);
	padding: 5%;
	padding-bottom: 15%;
	font-size: 110%;
}

.wrapper {
	text-align: center;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas:
		"Select Archives"
		"Select Resources";
}

#design-selection {
	grid-area: Select;
}

#design-archives {
	grid-area: Archives;
}

#zen-resources {
	grid-area: Resources;
}

@media only screen and (max-width: 800px) {
  #css-zen-garden {
		padding: 5%;
		padding-bottom: 60%;
		font-size: 110%;
	}
}



