@import url('https://fonts.googleapis.com/css?family=Courgette');

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(/styles/SB-Fish-Tank/fish.webp);
  background-position: center;
  background-size: auto 100%;
  background-attachment: fixed;
  height: 100%;
  font-family: Courgette;
  color: #ffffff;
  animation: animation 15s linear infinite;
}

@keyframes animation {
  0% { background-position: 0 0 ;
    }
  100% { background-position: -100vw 0 ;
    }
}
      
main::after {
  /* Pseudoelement example from Hinkle */
  content: "Image from Wallpaper.com";  
  color: white;
}

.page-wrapper {
  max-width: calc(min(1000px, 80%));
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 
    "header sidebar"
    "summary sidebar"
    "main sidebar";
  /*animation: intro 5s;*/
}
/*
@keyframes intro {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
    
  }
}
*/

a {
  color: #f0f406;
  text-decoration: none;
}

a:hover {
  color: #f09347;
  text-decoration: underline;
}

body {
  color: #ffffff;
  font-family: Courgette;
  text-align: center; 
  padding-left: 135px;
  padding-right: 135px;
}

.header {
  grid-area: header;
  text-align: center;
  padding: 20px;
}

h1 {
  grid-area: header;
  font-size: 2.5rem;
  font-family: Courgette;
  color: #e8e9a5;
  text-decoration: underline;       
  text-decoration-style: wavy;
  text-decoration-color: #f09347;
  text-align: center;
}

h2 {
  grid-area: header;
  font-size: 1.5rem;
  text-align: center;
}

.preamble {
  grid-area: main;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.summary {
  grid-area: main;
  padding: 20px;
  margin: 0 auto;
  text-align: center;}

.sidebar {
  color: #3d75e6;
  grid-area: sidebar;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-style: ridge;
}

@media screen and (max-width: 600px) {
  .page-wrapper {
    grid-template-areas: 
      "header"
      "sidebar"
      "main";
  }