@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
  --default: #c4c79e;
}

body{
  background-image: url('https://iacs-zen-garden.netlify.app/styles/beach-waves/sand-texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: caveat;
  font-size: 18px;
  line-height: 1.6;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width:500px;
}

header{
  color: var(--default);
}

h1::after {
  content: "- design by Khang Bui";
}
.page-wrapper::after{
  content: "";
  display:block;
  position:absolute;
  height:100%;
  width:3000px;
  left: -1000px;
  top: 0;
  background-image: url('https://media.istockphoto.com/id/1300107681/photo/surface-of-the-atlantic-ocean.jpg?s=612x612&w=0&k=20&c=w_5KDlGHRBKgLzjyA6KrdFHDlrO4B2M4LtflWAyzGhc=);
}

.page-wrapper {
  position: relative;
}
header {
  position: relative;
  z-index: 3;
}
.page-wrapper > * {
backdrop-filter: blur(20px);
padding:10px;
position:sticky;
}

h3, h4 {
  color:#c4c79e;
}

.page-wrapper p{
  margin: 20px;
  color:#c4c79e;
  font-size: 18px;
}

li{
  color:#c4c79e;
  list-style-type: none;
}

a{
  color:#8cc5f8;
  text-decoration: none;
}

a:hover{
  color:white;
}

.sidebar{
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  right:0;
  height: 60px;
/*from w3schools*/
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sidebar a{
  display: block;
  color:#c4c79e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidebar ul{
  padding: 0;;
}

.design-selection,
.design-archives,
.zen-resources{
  /*position: fixed;*/
  bottom: 0;
}

.design-selection ul,
.design-archives ul,
.zen-resources ul{
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  background-color: white;
  transition: all 800ms;
  align-items: center;
  text-shadow: 1px 0px;
}

.design-selection:hover ul,
.design-archives:hover ul,
.zen-resources:hover ul{
  transform: translate(0,calc(-100% - 80px));
  opacity: 1;
  pointer-events: all;
} /*from thinkle*/
