/* Color Palletes
https://coolors.co/2d040d-330007-3f040d-560614-74091b-830521-ed0244-f9114e-fe1a54

https://coolors.co/27030b-2b0006-34030b-480510-640717-70041b-b60235-d9063e-ea013b
*/

:root {
  --crimson : #8a0522;
	--maroon : #640717;
	--text-size: 20px;
}

@font-face {
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lily+Script+One&family=Lobster&display=swap');
}

div {
	margin: 25px;
}

h3 {
	font-size: 40px;
	color: var(--crimson);
	font-family: 'Lobster', cursive;
}

h4 {
	font-size: 26px;
	color: var(--crimson);
	font-family: 'Lobster', cursive;
}

p {
	font-size: var(--text-size);
	font-family: 'Didact Gothic', sans-serif;
}

ul {
	font-size: var(--text-size);
	text-align: left;
	font-family: 'Didact Gothic', sans-serif;
}

li {
	margin-bottom: 15px;
}

a {
	color: var(--crimson);
}

a:vistied {
	color: #480510;
}


/* for adding fonts, insert text here using @import on google fonts */

body {
	background-color: black;
	/* linear-gradient(to right, #7c776a, rgba(255,0,0,0) 95%); */
}

header {
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(/styles/avery-theater/wallpaperflare.com_wallpaper.jpg);
	background-size: cover;
	background-position: center;
	height: 500%;
	font-size: 325%;
	font-family: 'Lobster', cursive;
	/* IACS CSS -> CSS Design 
	Insert Image of Stage in here
	*/
}

#zen-intro {
	color: white;
	text-align: center;
}

#zen-summary {
	border: solid 3px var(--maroon);
	padding: 15px;
}

#zen-preamble {
	border: solid 3px var(--maroon);
	padding: 15px;
}

#zen-supporting {
	color: white;
	text-align: center;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas:
		"ABOUT RULE"
		"REQU REQU";
}

#zen-explanation {
	grid-area: ABOUT;
	border: solid 3px var(--maroon);
	padding: 15px;
}

#zen-participation {
	grid-area: RULE;
	border: solid 3px var(--maroon);
	padding: 15px;
}

#zen-requirements {
	grid-area: REQU;
	border: solid 3px var(--maroon);
	padding: 10px;
	text-align: center;
	/* Note to self: Place each requirement list on a different side of this block */
}

#zen-requirements ul {
	font-size: 20px;
	list-style: none;
	text-align: center;
}

.page-wrapper {
	margin: 0px;
}

.sidebar, .wrapper {
	height: 500px;
	color: white;
	font-size: 25px;
	padding: 20px;
	/* Sel. a Des. -> Resources 
	Insert Image of Seats in here
	*/
}

.sidebar {
	background-image: url(/styles/avery-theater/wallpaperflare.com_wallpaper%20(1).jpg");
	background-size: cover;
	background-position: center;
	font-size: var(--text-size);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: 80px;
  grid-template-areas:
		"s1 s1 s2 s2 s3 s3"
		"s1 s1 s2 s2 s3 s3"
		"s1 s1 s2 s2 s3 s3";
}

#design-selection {
	grid-area: s1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#design-archives {
	grid-area: s2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#zen-resources {
	grid-area: s3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 800px) {
  :root {
		--text-size: 10px;
	}

	h3 {
		font-size: 15px;
		color: var(--crimson);
		font-family: 'Lobster', cursive;
	}

	h4 {
		font-size: 12px;
		color: var(--crimson);
		font-family: 'Lobster', cursive;
	}
	
	header {
		font-size: 20px;
	}
}










