/********************************** 
* Design by:  [ Sky P]
* Design name:  [  Zen Coco]
* 
* License: [MIT]
* 
* Acknowledgments/Sources:
* - pictures by me
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&family=Reenie+Beanie&display=swap');

@import url("https://fonts.google.com/share?selection.family=Grape+Nuts");

/* Get your own import URL from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-wrapper {
  /* Main font */
font-family: "Indie Flower", cursive; font-size: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6{
  /* Header font */
  font-family: "grape nuts", cursive;
}
.intro {
Background-image: url("/styles/notground/Project.png");
background-size: 25cap;
background-repeat: no-repeat;
background-position: relative;
}
/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #f9c9f5 0%, #ffffff 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(247, 174, 210, 0.9);
  border: 1px solid #f54689cc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  min-width: 200px;
  margin-left: 25%;
}

a:link {
color:rgb(255, 0, 123);
}
a:visited {
color:rgb(235, 8, 235);
}
.design-selection li {
  border: solid 3px;
margin-top: 10px;
margin-right: 15px;
background-color: rgb(255, 255, 255);
list-style-type: none;
}
design-selection {
  padding-top: 30 px;
} 
a:hover {
color:rgb(30, 242, 118);
}
#zen-supporting {
Background-image: url("/styles/notground/coco3.PNG");
background-size: 40cap;
background-repeat: no-repeat;
background-position: relative;
}
#zen-requirements {
Background-image: url("/styles/notground/coco2.PNG");
background-size: 35cap;
background-repeat: no-repeat;
background-position: relative;
}
.sidebar{
  color:#0000ff;
 position: fixed;
  top: 5px;
  left: 10px;
height: 1000px;
width: 25%;
max-width: 300px;
overflow:scroll;
}

h2 {
  background-image: url("/styles/notground/Project2.png");
   background-size:300px;
   height: 500px;
   background-repeat: no-repeat;
   background-position-x: -60px;
   background-position-y: 89px;
  position:fixed;
left: 1300px; 
bottom: 50px;
}