/* Required for honors students */
/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */
.page-wrapper {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, sans-serif;
}
/* Background */
#css-zen-garden {
  background: linear-gradient(60deg, #403636 0%, #0c1579 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(46, 45, 52, 0.9);
  color: rgb(243, 255, 246);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 820px;
  margin: 0 auto;
}
.page-wrapper a {
  color: rgb(223, 223, 255);
}
