@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "h1 h1"
  "h2 h2"
  "sum pre"
  "exp pre"
  "par req"
  "side ."
  ;
  
}
h1,h2,.summary,.preamble,.intro,.explanation,.participation,.requirements,.sidebar{
  font-family: 'Gloria Hallelujah', cursive;
}
header{
  display: contents;
}
h1 {
  border: 5px solid red;
  font-size: 40px;
  grid-area: h1;
}

h2 {
  grid-area: h2;
  border: 5px solid blue;
}

.summary{
  border: 5px solid green;
  grid-area: sum;
}

.preamble{
  border: 5px solid purple;
  grid-area: pre;
}

.intro {
  display: contents;
  font-size: 20px;
}

#zen-supporting{
  display: contents;
}
.explanation{
  border: 5px solid orange;
  padding: 10%;
  grid-area: exp;
}

.participation {
  border: 5px solid gray;
  padding: 1%;
  grid-area: par;
}

.requirements {
  border: 5px solid brown;
  padding: 1%;
  grid-area: req
}
.sidebar{
  grid-area: side;
  border: 5px solid teal;
}




  
