/********************************** 
* Design by:  [Sky P]
* Design name:  [Rainbow]
* 
* License: [MIT]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-wrapper {
  /* Main font */
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Dancing Script", cursive;
}
.intro {
color:rgb(255, 0, 0);
}
/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #ffcc01 0%, rgb(0, 255, 119),cyan, rgb(26, 26, 255), #d41af1 80%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(247, 174, 210, 0.9);
  border: 1px solid #f54689cc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin-left: 310px;
}


a:link {
color:rgb(255, 0, 123);
}
a:visited {
color:rgb(167, 16, 167);
}
.design-selection li {
  border: solid 3px;
margin-top: 10px;
margin-right: 15px;
background-color: rgb(255, 255, 255);
list-style-type: none;
}
design-selection {
  padding-top: 30 px;
} 
a:hover {
color:rgb(30, 242, 118);
}
#zen-summary {
color:rgb(255, 1, 1);
}
#zen-preamble{
  color:rgb(223, 93, 12);
}
#zen-explanation {
color:rgb(251, 255, 1);
}
#zen-participation {
color:rgb(28, 171, 15);
}
#zen-requirements {
color:blue;
}
.sidebar{
  color:blue;
  position: fixed;
  top: 5px;
  left: 10px;
height: 100dvh;
overflow:scroll;
scrollbar-gutter: left;
}

