
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html{
  background-color: #E6EBE0;
}

.page-wrapper {
  display: grid;
  grid-template-areas: 
  "h           h"
  "menu   intro"
  "menu    main";
}

@media only screen and (max-width: 768px) {
  .page-wrapper {
    grid-template-areas: 
    "h"
    "menu"
    "intro"
    "main";
  }
}


header {
  grid-area: h;
}
aside {
  grid-area: menu;
}
main {
  grid-area: main;
}
section {
  grid-area: intro;
}

body{

  font-size: 25px;
  color: #5D576B;
  font-family: 'Edu TAS Beginner', cursive;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  width: 1200px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #ED6A5A;
  text-shadow:4px #cc2c0f;

}




a:link {
  color: #558b82;
}
a:visited {
  color: #b4ae41
}
a:hover, a:focus, a:active { 
  text-decoration: underline; 
  color: #d77c65;
  }

div::after {
  content: " ";
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(/styles/GR-Fall/leaf.png);
  background-size: contain;
  animation: fall 10s infinite;
  background-repeat: no-repeat;
  position: fixed;
  top: -38px;
  left: 0px;
  z-index: -1;
}

div:nth-child(1)::after {
  margin-left: 35vh;
  animation-duration: 8000ms;
}

div:nth-child(2)::after {
  margin-left: 70vh;
  animation-duration: 11000ms;
}

div:nth-child(3)::after {
  margin-left: 60vh;
  animation-duration: 30000ms;
  animation-delay: 500ms;
}

div:nth-child(4)::after {
  margin-left: 30vh;
  animation-duration: 30000ms;
  animation-delay: 600ms;
}

div:nth-child(5)::after {
  margin-left: 10vh;
  animation-duration: 50000ms;
}

div:nth-child(6)::after {
  margin-left: 20vh;
  animation-duration: 14500ms;
}

@keyframes fall {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 110vh) rotate(720deg);
  } 
