/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
.page-wrapper {
  /* Main font */
  font-family: "Satisfy", sans-serif;
  letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Oleo Script", cursive;

}

/* Background */
/*Image is from adobe stock*/
#css-zen-garden {
  background-image: linear-gradient(rgba(255, 255, 255, 0.738), rgba(21, 0, 255, 0.344)), 
  url("/styles/yoshicaballo/forestsnow.png");
  content: " ";
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed, fixed, scroll;
  background-repeat: no-repeat;
}

/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgb(255, 210, 245);
  border: 5px solid #ffa3a3;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
.intro {
  color: purple;
  background-color: pink;
  border-style: solid;
  border-width: 3px;
  padding: 10px;

}
#zen-requirements, #zen-participation{
  color:rgb(84, 0, 187);
  border-style: double;
  border-color: rgb(84, 0, 187);
  padding: 10px;
}
#zen-requirements p {
text-decoration: underline;
}
a:link {
  color: rgb(42, 126, 0);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}


