/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.page-wrapper {
  /* Main font */
  font-family: "Bitcount Grid Single", sans-serif;
  color:mistyrose;
  text-align:center; 
}
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Poppins", cursive;
  color:mistyrose;;
  text-align:center;
  
}
h1{
color:mistyrose;
font-family: "Poppins", cursive;
text-align: center;
border: 5px solid mistyrose;
border-radius: 10px;
background-color: black;
box-shadow:0 0 20px black;
margin-bottom: 100px;
}
.summary{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  padding:10px;
  font-size:20px;
  padding-top:100px;
  margin-top:-5em;
  margin-bottom:50px;
}
.preamble h3{
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
}
.preamble{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size: 20px;
  margin-top: 50px;
}
.explanation h3{
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  background-color:black;
}
.explanation{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px
}
.participation{
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  background-color:black;
  font-size:20px;
}
.participation h3{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:30px;
  padding:10px;
  font-size:20px;
  margin-top:10px;
}
.requirements h3{
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  background-color:black;
}
.requirements{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px
  }
.requirements ul{
  list-style:none;
}
.design-selection{
  border: 5px solid mistyrose;
  border-radius:10px;
  background-color:black;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px;
}
.design-selection h3{
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  background-color:black;
}
.design-selection ul{
  list-style:none;
} 
.archives{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px;
  text-align:left;
  width: 110px;
  margin-left:110px;
  font-size:1.17em;
}
.design-archives {
  border:5px solid mistyrose;
  margin-bottom: 30px;;
  text-align:center;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  background-color:black;
  font-size:20px;
  text-align:left;
  margin-right: 540px;
  box-shadow: 0 0 20px black;
  box-sizing: border-box;

}
.design-archives ul{
  list-style:none;
  margin-left: -30px;
  font-size:25px;
  text-align:center;
}
.zen-resources{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px;
  box-shadow: 0 0 20px black;
  margin-left: 540px;
  box-sizing: border-box;
  margin-top:-283px
}
.zen-resources ul{
  list-style:none;
  margin-right:25px
}
.requirements h4{
border:5px solid mistyrose;
margin-bottom: 30px;;
text-align:center;
padding:10px;
border-radius:10px;
margin-top:10px;
background-color:black;
}

/* Layout */
/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #f3f3f3 0%, #c8c8c8 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
