/* Required for honors students */
/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

/* Typography */
.page-wrapper {
 font-family: "DynaPuff", system-ui;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, sans-serif;
}
/* Background */
#css-zen-garden {
  /* Repeating stripes */
  background-image: linear-gradient( rgba(9, 223, 223, 0.1)),
  url("/styles/noxisontop-style2/ufo.png");
  content: " ";
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(0, 94, 201, 0.3);
  color: rgb(4, 200, 148);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 820px;
  margin: 0 auto;
}
.page-wrapper a {
  color: rgb(223, 223, 255);
}
