/* https://css-tricks.com/snippets/css/star-wars-crawl-text/ */
/* #dea726 */

:root {
	--gold: #dea726;
	--uni-font-size: 80%;
	--uni-text-color: white;
}

ul {
	list-style: none;
}

h1 {
	/* font-size: 60px; */
	font-size: 400%;
	margin: 20px;
	color: var(--gold);
}

h2 {
	/* font-size: 60px; */
	font-size: 200%;
	margin: 60px;
	color: var(--gold);
}

h3 {
	font-size: 50px;
	margin: 20px;
	color: var(--gold);
}

h4 {
	font-size: 30px;
	margin: 10px;
	color: var(--gold);
}

a {
	color: var(--gold);
}

p {
	margin-bottom: 70px;
	line-height: 50px;
}

#css-zen-garden {
	background-image: url(/styles/avery-space/stars.jpg);
	color: var(--uni-text-color);
	text-align: center;
	/* font-size: 40px; */
	font-size: var(--uni-font-size);
	font-family: 'News Gothic';
	overflow: hidden;

/* Everything below is taken from "https://css-tricks.com/snippets/css/star-wars-crawl-text/"'s the Yukulélé example.*/
	
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.page-wrapper {
  position:absolute;
  top: 250px;
  bottom:0;
  left:0;
  right:0;
  /* overflow: hidden; */
  font-size:30px;
  text-align:center;
  font-family:sans-serif;

  padding-top: 550px;
  animation: autoscroll 1000s linear;
}

html::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
  pointer-events: none;
}

@keyframes autoscroll{
  to {
    margin-top:-33000px;
		/* margin-top:-33000px; */
  }    
}
/* End of Sampled Content */

@media only screen and (max-width: 800px) {
	:root {
		--uni-font-size: 50%;
	}

	h3 {
	font-size: 20px;
	margin: 10px;
	color: var(--gold);
	}
}



