/* Required for honors students */
/********************************** 
* Design by:  [noxisontop]
* Design name:  [Halloween theme]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

/* Starter code -- feel free to delete */
/* Typography */
.page-wrapper {
 font-family: "Butcherman", system-ui;

}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
 
  color: #ff9500;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.63);
}

/* Background */
#css-zen-garden {
  /* Repeating stripes */
  background-image: linear-gradient( rgba(20,100,100,0.1)),
  url("/styles/noxisontop/poopkins.png");
  content: " ";
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 660px;
  margin: 10 auto;
  margin-left:300
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
p{ 
  text-align: center;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.63);
  color: #00000000
}

/* Move all elements with class `.class` to the left side of the screen */
.design-name {
 margin-right :20;
 margin:10;
 margin-left :-320   ;
 position   /* vertically center */
}

/* Make them look like buttons */
 .design-name {
  display: inline-block;
  background: #ef810b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  text-align: ;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 }



